################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/x64/Debug
/Chapter2Exercises/x64/Debug
/HelloCuda/x64/Debug
/SquareVectors/x64/Debug
/ThreadingCuda/x64/Debug
/VectorAddition/x64/Debug
/.vs/OpenCvAndCuda/v15
/IntermediateThreads/x64/Debug
/MemoryModel/x64/Debug
/ConstantMemory/x64/Debug
/Atomics/x64/Debug
/DotProduct/x64/Debug
/TextureMemory/x64/Debug
/MatrixMultiplication/x64/Debug
